html {scroll-behavior: smooth;}
ul{list-style: none;}
a {
    outline: none;
    text-decoration: none;
}

body {
    margin:0;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #111;
    opacity: 0.95;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 2.1vw;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}
.navbar a:hover, #slideMenu a:hover {
    color: #BBB;
    transition: 0.3s;
}

.navbar a img {
    width: 16px;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 900px) {
    .navbar a:not(.icons) {display: none;}
    .navbar a.icons {
      display: block;
      font-size: 18px;
    }
    .navbar {
        justify-content: space-between;
    }
}

#slideMenu {
    background-color: #111;
    opacity: 0.95;
    width: 100%;
    position: fixed;
    top: 48px;
    bottom: 0;
    display: none;
}

#slideMenu a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.grid {
    display: grid;
    grid-gap: 10px;
}

.grid section {
    padding-top: 50px;
    background-color: rgb(248,248,248);
    text-align: center;
}

.grid section h1 {font-size: 40px;}
.grid section h1 span {
    position: relative;
    top: -5px;
    left: -3px;
    padding: 1px 4px;
    font-size: 21px;
    border: 3px solid black;
    border-radius: 6px;
}

.grid section p {font-size: 21px;}
.grid section p a {color: rgb(0, 125, 167);}

.grid section img {
    max-height: 500px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid2 {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid2 div {
    background-size: cover;
    background-position: center;
    height: 550px;
}

#first {background-image: url(Pic1.png);}
#second {background-image: url(Pic2.png);}
#third {background-image: url(Pic3.png);}
#fourth {background-image: url(Pic4.png);}
#fifth {background-image: url(Pic5.png);}
#sixth {background-image: url(Pic6.png);}

@media only screen and (max-width: 1440px) {
    .grid2 {grid-template-columns: 1fr 1fr;}
}
@media only screen and (max-width: 968px) {
    .grid2 {grid-template-columns: 1fr;}
}

footer {
    background-color: #EEE;
    height: 500px;
    padding: 10px;
}

footer div {
    max-width: 940px;
    margin: auto;
}

footer div p {
    color: #999;
    font-size: 13.5px;
}

footer div hr {color: #EEE;}

.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}